/* #region Commons */
.modal-overlay {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgb(0 0 0 / 50%);
  cursor: default;
}

.game-modal {
  position: relative;

  display: flex;
  flex-direction: column;

  width: var(--modal-width, 90%);
  height: var(--modal-height, auto);
  min-height: var(--modal-min-height, auto);
  max-width: var(--modal-max-width, 1000px);
  max-height: var(--modal-max-height, 75vh);
  padding: var(--modal-padding, 1.25rem);

  color: #efebe9;
  cursor: default;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1.25rem;

  color: #efebe9;
}

.modal-title {
  margin: 0;
}

.modal-content {
  flex: 1;

  min-height: 0;
  margin-bottom: 1.25rem;
  padding-bottom: 1.5rem;

  overflow-y: auto;
}

.game-btn {
  position: absolute;

  bottom: 0.25rem;
  right: 1rem;

  width: fit-content;

  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;

  color: #efebe9;

  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 4px;

  transition: all 0.1s;
  backface-visibility: hidden;
}

.game-btn:hover {
  transform: scale(1.2);
}

.game-btn:active {
  transform: translateY(2px);
}

.modal-sprite {
  position: absolute;

  width: 40%;
  height: auto;

  transform: translate(-50%, -50%);

  pointer-events: none;
  cursor: default;
  -webkit-user-drag: none;
}

/* #endregion Commons */
