.bookshelf {
    display: flex;
}

:global([data-modal-theme="library"] [data-modal-slot="modal"]) {
  --modal-width: 90%;
  --modal-height: 80vh;
  --modal-min-height: clamp(20rem, 60vh, 31.25rem);
  --modal-max-width: 62.5rem;
  --modal-max-height: 37.5rem;
  --modal-padding: clamp(0.2rem, 3vw, 1.2rem) clamp(0.6rem, 3vw, 1.6rem);

  color: #3e2723;

  border-width: 20px 20px;
  border-style: solid;
  border-color: transparent;

  border-image-source: url("/assets/modals/skills/modal/books-container.png");
  border-image-slice: 35 62 fill;
  border-image-width: 35px 52px 35px 62px;
  border-image-repeat: repeat;
  transform-origin: left center;
  animation: book-open 0.6s ease-out forwards;
}