.desk-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}
/* #region Filter styles */
.filter-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;
  width: 100%;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.filter-wrapper {
  position: relative;
  border-image-source: url("/assets/images/projectModal/woodWrapper.png");
  border-image-slice: 28 35 fill;
  border-image-width: 14px 18px 18px 18px;
  border-image-repeat: stretch;

  border-style: solid;
  border-width: 14px 18px 12px 18px;
  image-rendering: pixelated;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  padding: 5px 12px 5px 12px;
  width: 100%;
}

/* TODO: riguardare*/
@media (max-width: 480px) {
  .filter-wrapper {
    /* Scaliamo mantenendo il rapporto: il lato è sempre circa il doppio della parte alta */
    border-image-width: 8px 18px 6px 18px;
    border-width: 8px 18px 6px 18px;
    padding: 5px;
  }
}

.button-label {
  border-image-source: url("/assets/images/projectModal/woodButton.png");
  border-image-slice: 10 15 fill;
  border-image-width: 5px 8px;
  border-image-repeat: stretch;

  border-width: 5px 8px;

  padding: 6px 14px;
  white-space: nowrap;
  width: auto;
  min-width: 85px;

  font-weight: bold;
  text-align: center;

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: transform 0.1s ease;
}

.button-label:hover {
  transform: scale(1.05);
}

.filter-label {
  position: absolute;
  top: -75%;
  left: 2%;
  display: block;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.selected-filter {
  border-image-source: url("/assets/images/projectModal/woodButtonSelected.png");
}

.reset-button-container {
  position: relative;
  line-height: 0;
  width: 30%;
  height: auto;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.reset-button-container img {
  width: 100%;
  height: auto;
  display: block;
  font-family: inherit;

  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.reset-button-container:hover {
  transform: scale(1.05);
}

.reset-button-container:active {
  transform: scale(0.95);
}

.reset-text {
  width: 100%;
  position: absolute;
  color: #7e915f;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    2px 2px 0 #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;

  pointer-events: none;
}

/* hide radio*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
/* #endregion Filter styles */

/* #region Folder styles */
.folders-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.folder:hover {
  transform: scale(1.1);
}

.folder-icon {
  font-size: 3rem;
  position: relative;
  filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.3));
}

.folder span {
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.back-btn {
  background: #d84315;
  color: white;
  border: none;
  padding: 5px 15px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 3px 3px 0px #000;
}
.back-btn:hover {
  background: #ff5722;
}
/* #endregion Folder styles */

/* #region Project styles */
.project-blueprint {
  background: #e3f2fd;
  color: #0d47a1;
  padding: 15px;
  max-width: 45%;
  border-left: 5px solid #1565c0;
  transform: rotate(-2deg);
  transition:
    transform 0.3s,
    z-index 0s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);

  contain: layout paint;/*Per ottimizzare le prestazioni del rendering*/
}

.project-blueprint.alternate {
  background: #fff9c4;
  color: #f57f17;
  border-left-color: #fbc02d;
  transform: rotate(3deg);
}

.project-blueprint:hover {
  transform: rotate(0deg) scale(1.05);
  z-index: 10;
  cursor: pointer;
}

.blueprint-header {
  font-size: 0.7rem;
  font-weight: bold;
  opacity: 0.6;
  border-bottom: 1px dashed;
  margin-bottom: 10px;
}

.view-btn {
  display: inline-block;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: underline;
  color: inherit;
}
.view-btn:hover {
  color: #1565c0;
}

.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.links-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.project-title {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.tech-stack {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}

.projects-view{
  overflow-y: auto;
  overscroll-behavior: contain; /*ottimizzazione del comportamento di scorrimento*/
  scrollbar-gutter: stable; 
  -webkit-overflow-scrolling: touch;
}



/* #endregion Project styles */

/* #region Scrollbar styles */
::-webkit-scrollbar {
  width: 16px; 
}

::-webkit-scrollbar-track {
  background: #212529; 
  border-left: 4px solid #000; /* Effetto bordo NES */
}

::-webkit-scrollbar-thumb {
  background-color: #e76e05; 
  /* Creiamo l'effetto scalino pixelato con un bordo doppio */
  border: 4px solid #212529; 
  box-shadow: inset -4px -4px 0px 0px #8a4303; /* Ombra interna per dare profondità */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff9234; 
}
/* #endregion Scrollbar styles */
