.book {
  display: flex;
  justify-content: center;
  gap: 15%;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.skillContainer {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

.skillsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  
}

.page {
  flex: 1;
  width: 45%;
  overflow-y: scroll;
  padding: 30px;

  position: relative;

  /* Hide scrollbar for all browsers */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-align: center;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.page h3 {
  border-bottom: 2px solid #8d6e63;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
}
.page ul {
  list-style-type: "👉 ";
  padding-left: 20px;
}
